
<div>

<div *ngFor=" let displayInfo of latestStageList" class="m-3">
    <br>
    <div><b> ID: </b> {{displayInfo.id}}</div>
    <br>
    <div><b> Title ID: </b> {{displayInfo.idOfTitle}}</div>
    <br>
    <div><b> Stage Title: </b> {{displayInfo.StageTitle}}</div>
    <br><br>
</div>

<div class="m-3">
    <div *ngFor="let process of latestPromptList">
        <label>
            <div><b>{{process.process}}</b></div>
            <br>
            <label>
                <input type="radio"
                       [(ngModel)]="responseText"
                       value="{{prompt}}"
                       name="{{process.id}}"/>
                {{process.prompt}}
            </label>
            <br>
            <label>
                <input type="radio"
                       [(ngModel)]="responseText"
                       value="{{prompt2}}"
                       name="{{process.id}}"/>
                {{process.prompt2}}
            </label>
            <br>
            <label>
                <input type="radio"
                       [(ngModel)]="responseText"
                       value="{{prompt3}}"
                       name="{{process.id}}"/>
                {{process.prompt3}}
            </label>
            <br>
            <label>
                <input type="radio"
                       [(ngModel)]="responseText"
                       value="{{prompt4}}"
                       name="{{process.id}}"/>
                {{process.prompt4}}
            </label>
        </label>
    </div>


<!--    <div *ngFor="let prompts of latestPromptList">-->
<!--    <label>-->
<!--        <input type="radio"-->
<!--                [(ngModel)]="responseText"-->
<!--        value="{{prompts}}"-->
<!--        name="{{prompts.id}}"/>-->
<!--        {{prompts.prompt}}-->
<!--    </label>-->
<!--    </div>-->
</div>

</div>
    <br><br>
<div>
    <button class="btn btn-success" type="submit" >Submit</button>

<button class="btn btn-warning" (click)="onCancel()">Cancel</button>
</div>