
<div>
    <nav class="navbar navbar-light bg-success bg-opacity-75">
        <div class="input-group m-3 justify-content-end">
            <button type="button" (click)="exitApp()" class="btn btn-primary">Exit</button>
        </div>
    </nav>
</div>
<form #followerForm="ngForm" (ngSubmit)="submitForm(followerForm)">

<div *ngFor="let title of latestStageList">
    <input [hidden]="true" type="number" ngModel ="{{title.id}}" name="stageId" value="{{title.id}}">
    <input [hidden]="true" type="text" ngModel="{{title.stageTitle}}" name="stageTitle" value="{{title.stageTitle}}">
    <input [hidden]="true" type="text" ngModel="{{title.startDate}}" name="startDate" value="{{title.startDate | date}}">
    <input [hidden]="true" type="text" ngModel="{{title.endDate}}" name="endDate" value="{{title.endDate | date}}">
    <input [hidden]="true" type="text" ngModel="{{title.description}}" name="description" value="{{title.description}}">

</div>

<div>
<div class="m-3">
    <div *ngFor="let process of latestPromptList">
        <div>
            <input [hidden]="true" name="idOfTitle" ngModel="{{process.idOfTitle}}" value="{{process.idOfTitle}}">
        </div>

            <br>
            <div class="text-primary"><h4>{{process.process}}{{process.id}}</h4></div>
            <div class="text-success">

                    <input type="radio"
                       id="{{process.process}}"
                       [(ngModel)]="response"
                        value="{{process.prompt}}"
                       name="prompt"/>
                    <label class="m-1" for="{{process.process}}">{{process.prompt}}</label>
                    {{response}}
            <br>
                    <input type="radio"
                       id="{{process.process}}"
                       [(ngModel)]="response2"
                        value="{{process.prompt2}}"
                       name="prompt"/>
                    <label class="m-1" for="{{process.process}}">{{process.prompt2}}</label>
                    {{response2}}
            <br>
                    <input type="radio"
                       id="{{process.process}}"
                       [(ngModel)]="response3"
                        value="{{process.prompt3}}"
                       name="prompt"/>
                    <label class="m-1" for="{{process.process}}">{{process.prompt3}}</label>
                    {{response3}}
            <br>
                    <input type="radio"
                       id="{{process.process}}"
                       [(ngModel)]="response4"
                        value="{{process.prompt4}}"
                       name="prompt"/>
                    <label class="m-1" for="{{process.process}}">{{process.prompt4}}</label>
                    {{response4}}
            </div>
    </div>
</div>
    <br>
    <div class="input-group justify-content-around m-3">
        <button class="btn btn-success" type="submit" >Submit</button>
        <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </div>
</div>
</form>

