
<div>
    <nav class="navbar navbar-light bg-success bg-opacity-75">
        <div class="input-group m-3 justify-content-end">
            <button type="button" (click)="exitApp()" class="btn btn-primary">Exit</button>
        </div>
    </nav>
</div>

<div>
<form #followerForm="ngForm" (ngSubmit)="submitForm(followerForm.value)">
<div class="m-3">
    <div *ngFor="let process of latestPromptList">
        <label>
            <br>
            <div class="text-primary"><h4>{{process.process}}{{process.id}}</h4></div>
<!--            <br>-->
            <div class="text-success">
                <div>
                    <input type="radio"
                       id="prompt"
                       [(ngModel)]="response"
                        value="A"
                       name="{{process.id}}"/>
                    <label class="m-1" for="prompt">{{process.prompt}}</label>
                    {{response}}
                </div>
            <br>
                <div>
                    <input type="radio"
                       id="prompt2"
                       [(ngModel)]="response2"
                        value="B"
                       name="{{process.id}}"/>
                    <label class="m-1" for="prompt2">{{process.prompt2}}</label>
                    {{response2}}
                </div>
            <br>
                <div>
                    <input type="radio"
                       id="prompt3"
                       [(ngModel)]="response3"
                        value="C"
                       name="{{process.id}}"/>
                    <label class="m-1" for="prompt3">{{process.prompt3}}</label>
                    {{response3}}
                </div>
            <br>
                <div>
                    <input type="radio"
                       id="prompt4"
                       [(ngModel)]="response4"
                       value="D"
                       name="{{process.id}}"/>
                    <label class="m-1" for="prompt4"> {{process.prompt4}} </label>
                    {{response4}}
                </div>
            </div>
        </label>
    </div>
</div>
    <br>
    <div class="input-group justify-content-around m-3">
        <button class="btn btn-success" type="submit" >Submit</button>
        <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
    </div>
</form>
</div>
