

<p>main-display works!</p>

<h4>Select A Stage</h4>

<div *ngFor=" let displayInfo of latestStageList">
            <br>
        <div><b> Stage Title: </b> {{displayInfo.StageTitle}}</div>
<!--    <br>-->
        <div><b> Description: </b> {{displayInfo.description}}</div>
<!--    <br>-->
        <div><b> Start Date: </b> {{displayInfo.startDate | date}}</div>
<!--    <br>-->
        <div><b> End Date: </b> {{displayInfo.endDate | date}}</div>
        <br>
<div>
    <button (click)="takeSurvey(displayInfo)" class="btn btn-success">Start Survey</button>
</div>
</div>
