<!--<div>-->
<!--    <nav class="navbar navbar-light bg-primary">-->
<!--        <div>-->
<!--            -->
<!--        </div>-->
<!--    </nav>-->
<!--</div>-->

<div class="m-3">
<h4 class="text-primary">Select A Stage</h4>
</div>

<div *ngFor=" let displayInfo of latestStageList" class="m-3">
            <br>
        <div class="text-success"><b> Stage Title: </b> {{displayInfo.stageTitle}}</div>
        <div class="text-success"><b> Description: </b> {{displayInfo.description}}</div>
        <div class="text-success"><b> Start Date: </b> {{displayInfo.startDate | date}}</div>
        <div class="text-success"><b> End Date: </b> {{displayInfo.endDate | date}}</div>

<div class="m-3">
    <button (click)="takeSurvey(displayInfo)" class="btn btn-outline-primary">Start Survey</button>
</div>
</div>
